<html>
<head>
    <title>Hello {{ mavariable }}</title>
</head>
<body>
    <h1>Hello {{ mavariable }}</h1>
    <p>It is now <script>document.write(new Date().toUTCString());</script></p>
    <p>You are coming from <script>document.write(location.hostname);</script></p>
    <p><a href='./page1.html'>Vers la page 1</a></p>
    <p><a href='./page2.html'>Vers la page 2</a></p>
</body>
</html>
